# Demonstration of `to_html_2()` Method

This notebook demonstrates the new `to_html_2()` method for the Table class, which generates custom HTML with Excel-like grid styling without relying on pandas DataFrame styling.

In [ ]:
# Import required classes
from pyproforma.tables.table_class import Table, Column, Row, Cell
from IPython.display import HTML, display

## Example 1: Simple Table with Basic Styling

In [ ]:
# Create a simple table with basic styling
columns = [
    Column("Product", text_align="left"),
    Column("Q1 2024"),
    Column("Q2 2024"),
    Column("Q3 2024"),
    Column("Total")
]

rows = [
    Row([
        Cell("Revenue", bold=True, align="left"),
        Cell(150000, value_format="no_decimals"),
        Cell(175000, value_format="no_decimals"),
        Cell(190000, value_format="no_decimals"),
        Cell(515000, value_format="no_decimals", bold=True)
    ]),
    Row([
        Cell("Expenses", bold=True, align="left"),
        Cell(80000, value_format="no_decimals"),
        Cell(85000, value_format="no_decimals"),
        Cell(90000, value_format="no_decimals"),
        Cell(255000, value_format="no_decimals", bold=True)
    ]),
    Row([
        Cell("Net Income", bold=True, align="left", top_border="single"),
        Cell(70000, value_format="no_decimals", top_border="single"),
        Cell(90000, value_format="no_decimals", top_border="single"),
        Cell(100000, value_format="no_decimals", top_border="single"),
        Cell(260000, value_format="no_decimals", bold=True, top_border="double")
    ])
]

table1 = Table(columns=columns, rows=rows)

# Display using to_html_2
print("Using to_html_2():")
display(HTML(table1.to_html_2()))

## Example 2: Table with Colors and Advanced Formatting

In [ ]:
# Create a table with colors and percentages
columns = [
    Column("Metric", text_align="left"),
    Column("Value"),
    Column("Change"),
    Column("Status")
]

rows = [
    Row([
        Cell("Sales Growth", align="left"),
        Cell(1250000, value_format="no_decimals"),
        Cell(0.15, value_format="percent_one_decimal", font_color="green", bold=True),
        Cell("On Track", background_color="#d4edda", align="center")
    ]),
    Row([
        Cell("Operating Margin", align="left"),
        Cell(0.25, value_format="percent_two_decimals"),
        Cell(-0.03, value_format="percent_one_decimal", font_color="red", bold=True),
        Cell("Alert", background_color="#f8d7da", align="center")
    ]),
    Row([
        Cell("Customer Retention", align="left"),
        Cell(0.92, value_format="percent"),
        Cell(0.02, value_format="percent_one_decimal", font_color="green", bold=True),
        Cell("Good", background_color="#d4edda", align="center")
    ])
]

table2 = Table(columns=columns, rows=rows)

# Display using to_html_2
print("Using to_html_2():")
display(HTML(table2.to_html_2()))

## Example 3: Financial Statement with Double Borders

In [ ]:
# Create a financial statement-style table
columns = [
    Column("Account", text_align="left"),
    Column("Amount")
]

rows = [
    Row([
        Cell("Assets", bold=True, align="left", background_color="#f0f0f0"),
        Cell("", background_color="#f0f0f0")
    ]),
    Row([
        Cell("  Cash and Equivalents", align="left"),
        Cell(500000, value_format="no_decimals")
    ]),
    Row([
        Cell("  Accounts Receivable", align="left"),
        Cell(350000, value_format="no_decimals")
    ]),
    Row([
        Cell("  Property and Equipment", align="left"),
        Cell(1200000, value_format="no_decimals")
    ]),
    Row([
        Cell("Total Assets", bold=True, align="left", top_border="single", bottom_border="double"),
        Cell(2050000, value_format="no_decimals", bold=True, top_border="single", bottom_border="double")
    ]),
    Row([
        Cell("", align="left"),
        Cell("")
    ]),
    Row([
        Cell("Liabilities", bold=True, align="left", background_color="#f0f0f0"),
        Cell("", background_color="#f0f0f0")
    ]),
    Row([
        Cell("  Accounts Payable", align="left"),
        Cell(280000, value_format="no_decimals")
    ]),
    Row([
        Cell("  Long-term Debt", align="left"),
        Cell(800000, value_format="no_decimals")
    ]),
    Row([
        Cell("Total Liabilities", bold=True, align="left", top_border="single"),
        Cell(1080000, value_format="no_decimals", bold=True, top_border="single")
    ]),
    Row([
        Cell("", align="left"),
        Cell("")
    ]),
    Row([
        Cell("Equity", bold=True, align="left"),
        Cell(970000, value_format="no_decimals", bold=True, top_border="double", bottom_border="double")
    ])
]

table3 = Table(columns=columns, rows=rows)

# Display using to_html_2
print("Using to_html_2():")
display(HTML(table3.to_html_2()))

## Comparison: Default HTML vs to_html_2

Let's compare the default rendering (using styled DataFrame) with the new to_html_2 method:

In [ ]:
# Create a simple table
columns = [
    Column("Item", text_align="left"),
    Column("Price"),
    Column("Quantity"),
    Column("Total")
]

rows = [
    Row([
        Cell("Widget A", align="left"),
        Cell(29.99, value_format="two_decimals"),
        Cell(100, value_format="no_decimals"),
        Cell(2999.00, value_format="two_decimals", bold=True)
    ]),
    Row([
        Cell("Widget B", align="left"),
        Cell(49.99, value_format="two_decimals"),
        Cell(75, value_format="no_decimals"),
        Cell(3749.25, value_format="two_decimals", bold=True)
    ]),
    Row([
        Cell("Total", bold=True, align="left", top_border="single"),
        Cell("", top_border="single"),
        Cell("", top_border="single"),
        Cell(6748.25, value_format="two_decimals", bold=True, top_border="double")
    ])
]

comparison_table = Table(columns=columns, rows=rows)

print("Default rendering (styled DataFrame):")
display(comparison_table)

print("\nUsing to_html_2():")
display(HTML(comparison_table.to_html_2()))