In [1]:
from simple_model_2 import simple_model_2 as model

In [6]:
table = model.tables.line_items()
table.to_styled_df

Table(columns=[Column(label='name', text_align='left', value_format='str'), Column(label=2024, text_align='center', value_format='year'), Column(label=2025, text_align='center', value_format='year'), Column(label=2026, text_align='center', value_format='year'), Column(label=2027, text_align='center', value_format='year'), Column(label=2028, text_align='center', value_format='year')], rows=[Row(cells=[Cell(value='product_sales', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=800000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=920000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1058000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1216700, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1399205, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='service_revenue', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=300000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=345000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=396750, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=456262, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=524702, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='licensing_fees', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=150000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=172500, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=198375, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=228131, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=262351, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='total_revenues', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1250000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1437500, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1653125, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1901093, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=2186258, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='salaries', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=450000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=495000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=544500, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=598950, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=658845, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='marketing', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=125000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=137500, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=151250, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=166375, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=183012, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='rent_utilities', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=80000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=84000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=88200, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=92610, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=97240, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='technology', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=60000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=66000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=72600, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=79860, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=87846, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='total_expenses', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=715000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=782500, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=856550, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=937795, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1026943, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)]), Row(cells=[Cell(value='ebitda', bold=False, align='left', value_format=None, background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=535000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=655000, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=796575, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=963298, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None), Cell(value=1159315, bold=False, align='right', value_format='no_decimals', background_color=None, font_color=None, bottom_border=None, top_border=None)])])